.movie-wrapper {
    width: 100%;
    // padding: 0px 23px;
    display: block;
}
.movie-container {
    width: 100%;
    overflow-x: auto;
}

.sub_header {
    display: flex;
    justify-content: space-between;
    padding: 17px 0px;
}
.features {
    display: flex;
    gap: 10px; 
}
