
.table-container{
    padding-top: 20px;
}

.customTable :global(.ant-table-thead) {
    background-color: #1890ff; /* Màu xanh dương */
}

.customTable :global(.ant-table-thead) th {
    color: white; /* Chữ màu trắng */
    font-weight: bold;
}

.fixed-row-height {
    height: 20px; // hoặc giá trị bạn muốn
  
    // Canh giữa nội dung theo chiều dọc
    td {
      vertical-align: middle;
    }
  }
  