.wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #111318;
}

.right-container {
    flex: 1;
    width: 70%;
    color: #ffffff;
}

.content {
    min-height: calc(100vh - 66px);
    padding: 24px;
    padding-top: 100px; // Thêm padding top để content thấp xuống
}
