.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #111318;
}

.right-container {
    width: 80%;
    margin-left: 20%;
    min-height: 100vh;
    background: var(--background);
    color: #ffffff;

    .content {
        padding: 20px;
        margin-top: 60px;
    }
}
